@media (max-width: 560px) {
    .form-wrapper {
        background-color: var(--alabaster) !important;
        box-shadow: none !important;
    }

    .main-content {
        display: flex;
        padding: 20px;
        justify-content: center !important;
    }

}

.form-control {
    width: 95% !important;
    padding: 0.75rem 0.75rem !important;
}